body {
  background-color: #ffe5d9;
}

#calculator {
  margin: 0 auto;
  width: 25%;
  height: 750px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#calcbox {
  background-color: #9d8189;
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 5%;
  border: 8px solid #d8e2dc;
}

#startblock {
  background-color: #cce3de;
  align-content: center;
  width: calc(100% / 1.11);
  height: 20%;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  text-align: end;
  font-size: 60px;
}

#start {
  padding-right: 0.5rem;
}

#bedienfeld {
  background-color: #d8e2dc;
  position: absolute;
  align-content: center;
  width: calc(100% / 1.11);
  height: 68%;
  top: 13rem;
  left: 1.5rem;
  display: flex;
}

#bedienfeld #numbers {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#numbers button {
  font-size: 50px;
  width: 5.5rem;
  height: 5.5rem;
}
