body {
  background-color: #ffe5d9;
}

.container {
  margin: 0 auto;
  background-color: #9d8189;
  width: 20%;
  border-radius: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
}

form button {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
}

form .display div {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  background-color: #d8e2dc;
  padding-right: 2%;
}

form .display div {
  text-align: right;
  flex: 1;
  font-size: 40px;
  box-shadow: none;
}
